@font-face {
	font-family: KaushanScript;
	src: url(fonts/kaushan-script/KaushanScript-Regular.otf);
}
@font-face {
	font-family: IdealistSans;
	src: url(fonts/idealist/Idealist-Sans.otf);
}
@font-face {
	font-family: Waffle;
	src: url(fonts/Waffle-Font/Waffle-Regular.otf);
}

body {
	background: black url("images/background.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	color: #247eD0;
	font-family: Waffle;
	font-size: 250%;
	text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.logo {
	font-family: KaushanScript;
	font-size: 180%;
	text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
}

textarea.rstInput {
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #000000;
}

#previewShow {
	width: 100%;
	height: 100%;
	padding: 1px;
}
#RSTtextarea {
	width: 100%;
	height: 100%;
	padding: 1px;
}

.editor {
	background: white;
	width: 800;
	height: 500;
}
code.textarea_HTML_tag_usable {
	background: white;
	width: 800;
	height: 500;
}
