<html>
<head>
<title>Create Presentation</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rst2html5presentation/style.css' %}" />
<script src="{% static 'rst2html5presentation/angular-1.5.5/angular.min.js' %}"></script>
<script>
var isEditorSettingOpening = false;
var editorFontSize = "12px";//document.getElementById("rstInput").style["font-size"];
var editorFontColor = "#000000";
function openEditorSettingPanel(){
	var editorSettingPanel = document.getElementById("editorSettingPanel")
	if (isEditorSettingOpening){
		editorSettingPanel.innerHTML = "";
		isEditorSettingOpening = false;
	}
	else {
		editorSettingPanel.appendChild(document.createTextNode("--------------------------------------------------"));
		editorSettingPanel.appendChild(document.createElement("br"));
		editorSettingPanel.appendChild(document.createTextNode("Font Size : "));
		var fontSizeInput = document.createElement("input");
		fontSizeInput.setAttribute("type", "text");
		fontSizeInput.setAttribute("id", "editorFontSizeInput");
		fontSizeInput.setAttribute("value", editorFontSize);
		editorSettingPanel.appendChild(fontSizeInput);
		editorSettingPanel.appendChild(document.createElement("br"));
		editorSettingPanel.appendChild(document.createTextNode("Font Color : "));
		var fontColorInput = document.createElement("input");
		fontColorInput.setAttribute("type", "text");
		fontColorInput.setAttribute("id", "editorFontColorInput");
		fontColorInput.setAttribute("value", editorFontColor);
		editorSettingPanel.appendChild(fontColorInput);
		editorSettingPanel.appendChild(document.createElement("br"));
		var applyButton = document.createElement("a");
		applyButton.setAttribute("href", "javascript:applySetting();");
		applyButton.style.fontSize = "60%"
		applyButton.innerHTML = "Apply Setting";
		editorSettingPanel.appendChild(applyButton);
		editorSettingPanel.appendChild(document.createElement("br"));
		editorSettingPanel.appendChild(document.createTextNode("--------------------------------------------------"));
		isEditorSettingOpening = true;
	}
}
function applySetting(){
	editorFontSize = document.getElementById("editorFontSizeInput").value;
	editorFontColor = document.getElementById("editorFontColorInput").value;
	alert("Font Size : "+editorFontSize+"Font Color :"+editorFontColor);
	editor = document.getElementById("rstInput");
	editor.style.fontSize = editorFontSize;
	editor.style.color = editorFontColor;
}
</script>

<script>
var app = angular.module('previewShowAndRSTinput', []);
app.controller('previewShowAndRSTinputController', function($scope) {
	$scope.displayStatus = false;
	$scope.showPreview = function() {
		$scope.displayStatus = !$scope.displayStatus;
	}
});
</script>

</head>
<body>
<div id='logo'>
<center><h1 class="logo"><b>Create Your <span style="color:#FFB347;">Presentation</span></b></center>
</div>

<div id='panel'>
<center>
<h2>With your <span style="color:#FFB347;">reStructuredText</span></h2>
<form id="rstBox">

<b><span style="color:#FFB347;">Presentation</span> Name :</b>
<input type="text" name="presentationName" placeholder="Enter your Presentation name here" maxlength="200" size="40">
<br>
<b>Author :</b>
<input type="text" name="author" placeholder="Enter your name here" maxlength="20" size="20" value="Guest">
<br>

<div ng-app="previewShowAndRSTinput" ng-controller="previewShowAndRSTinputController">
<button src="" ng-click="showPreview()" formaction="{% url 'rst2html5presentation:watchpresentation' %}" formtarget="previewShowFrame">Show Preview</button>
<button ng-show="displayStatus" formaction="{% url 'rst2html5presentation:watchpresentation' %}" formtarget="previewShowFrame">Refresh</button>
<br>
<button formaction="{% url 'rst2html5presentation:uploadimagepage' %}" formtarget="_blank">Insert Image</button>
<table style="width:100%;height:70%;">
<td ng-show="displayStatus" style="width:40%;">
<div id="previewShow">
<iframe name="previewShowFrame" width="100%" height="100%" frameborder="1"></iframe>
</div>
</td>
<td style="width:60%;">
<div id="RSTtextarea">
<textarea name="rstInput" id="rstInput" class="rstInput" placeholder="Enter your reStructuredText here">
</textarea>
</div>
</td>
</table>
</div>

<br>

<div>
<a href="javascript:openEditorSettingPanel();" style="font-size:60%;">Editor Setting</a><br>
<div id="editorSettingPanel"></div>

<span style="color:#FFB347;">Presentation</span> Style : 
<select name="presentationStyle" id='presentationStyle'>
    <option value="">Clean</option>
    <option value="--deck-js">Deck</option>
    <option value="--jquery --reveal-js">Reveal</option>
    <option value="--jquery --bootstrap-css">Bootstrap</option>
</select><br>
</div>

<br>
<div>
<input type="submit" value="Watch Presentation" id="watch" formaction="{% url 'rst2html5presentation:watchpresentation' %}" formtarget="_blank"> 
</div>
<br>
</form> 


</center><br>
</div>

</body>
</html>
