<html>
<head>
<title>Create Presentation</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rst2html5presentation/style.css' %}" />
<!-- with out angular for the a moment -->
</head>
<body>

<b><span style="color:#FFB347;">Presentation</span> Name :</b>
<input type="text" readonly name="presentationName" size="40" value="{{ presentationName }}">
<br>
<b>Author :</b>
<input type="text" readonly name="author" size="20" value="{{ author }}">
<br>

Copy and Paste to your reStructuredText
<input readonly value=".. image:: getuploadimage/{{ author }}/{{ presentationName }}/{{ imagename }}"><br><br>
<img src="{% url 'rst2html5presentation:getuploadimage' author presentationName imagename %}">

</body>
</html>
