<html>
<head>
<title>Create Presentation</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rst2html5presentation/style.css' %}" />
<script src="{% static 'rst2html5presentation/angular-1.5.5/angular.min.js' %}"></script>
</head>
<body>

<h1>Upload Image For Insert</h1>
<form action="{% url 'rst2html5presentation:uploadimageresult' %}" method="post" enctype="multipart/form-data">
<b><span style="color:#FFB347;">Presentation</span> Name :</b>
<input type="text" readonly name="presentationName" size="40" value="{{ presentationName }}">
<br>
<b>Author :</b>
<input type="text" readonly name="author" size="20" value="{{ author }}">
<br>
{% csrf_token %}
Browse Image:
<input type="file" name="imageFile" id="imageFile"><br>
<input type="submit" value="Upload" name="submit">
</form><br>

</body>
</html>
